@use '@angular/material' as mat;

$theme: mat.define-theme(
  (
    color: (
      primary: mat.$cyan-palette,
      tertiary:  mat.$orange-palette,
    )
  )
);


$background-color-primary: #101414;
$cyan-dark: #004f4f;
$cyan-light: #00dddd;

$color-text-primary: #e0e3e2;
$color-text-alert: #cb0000;
