@import '../../../variables.scss';

:host {
  display: block;
}

.product-lists {
  & > mat-expansion-panel {
    border: 1px solid $border-color-primary;
    margin: 0;
  }
}

mat-card-content {
  margin-top: 20px;
}

mat-panel-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-direction: row;
  }
}