<mat-card appearance="outlined" class="mat-mdc-card-outlined mdc-card--outlined">
  <mat-card-header>
    <mat-card-title>
      Register
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" name="username" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" name="email" placeholder="Email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" name="password" placeholder="Password" required>
      </mat-form-field>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>exit_to_app</mat-icon>
        Register
      </button>
      <button mat-raised-button color="accent" type="button" (click)="onLogin()">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>